<ac-map [flyTo]="homeLocation" [sceneMode]="defaultSceneMode">
  <ac-layer acFor="let entity of entities$"
            [show]="true" [context]="this" [store]="true">
    <ac-billboard-desc props="{
      image: entity.image,
      position: entity.position,
      scale: 0.6,
      name: entity.id,
      rotation: -entity.heading
    }">
    </ac-billboard-desc>
    <ac-label-primitive-desc props="{
       position: entity.position,
       pixelOffset : [-25,30] | pixelOffset,
       text: entity.id,
       font: '18px sans-serif'
     }">
    </ac-label-primitive-desc>
    <ac-label-primitive-desc props="{
       position: entity.position,
       pixelOffset : [0,-30] | pixelOffset,
       text: entity.alt.toString(),
       font: '20px sans-serif'
     }">
    </ac-label-primitive-desc>
    <ac-polyline-desc props="{
        width : entity.historyTail.width,
        positions: entity.historyTail.positions,
        material: entity.historyTail.material,
        distanceDisplayCondition: entity.displayCondition
    }">
    </ac-polyline-desc>
  </ac-layer>
</ac-map>
